.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ff6f61; /* Main background color */
    color: #ffffff; /* Text color */
    font-family: poppins;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 3px solid #e25b50;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: sticky;
    top: 0;
    z-index: 10; /* Ensures the nav stays on top when scrolling */
  }
  
  .nav:hover {
    background-color: #e25b50; /* Slightly darker shade on hover */
    cursor: pointer;
  }
  
  .nav::before {
    content: "🍔";
    margin-right: 10px;
    font-size: 1.2em; /* Icon size */
  }
  
  .nav::after {
    content: " 🍕";
    margin-left: 10px;
    font-size: 1.2em; /* Icon size */
  }
  